/* -------------------------------------------------------------------------- */
/*                                    Fonts                                   */
/* -------------------------------------------------------------------------- */

body{
    font-family: 'Josefin Sans', sans-serif;
}
$w-bold: 500;
$w-regular: 400;
$w-light: 300;
$w-xlight: 200;

/* -------------------------------------------------------------------------- */
/*                                   Z Index                                  */
/* -------------------------------------------------------------------------- */
$to-the-back: -10;
$temp-front: 1100000;
$loading: 950000;
$absolute-front: 1000000;
$menu-front: 900000;
$front: 800000;

/* -------------------------------------------------------------------------- */
/*                                   Colors                                   */
/* -------------------------------------------------------------------------- */
$pink: #F4ABC4;
$purple: #595B83;
$indigo: #333456;
$navy: #060930;
// h-offset v-offset blur spread color
$eq-box-shadow: 1px 2px 4px 2px rgba(#a58888, 0.5);
$folder-box-shadow: 1px 4px 2px 2px rgba(#a58888, 0.5);

$color-list: (
    las-pink: #F4ABC4,
    las-purple: #595B83,
    las-indigo: #333456,
    las-navy: #060930
);

@each $name, $color in $color-list {
    .bg-#{$name}{background-color: $color;}
    .text-#{$name}{color: $color;}
}


/* -------------------------------------------------------------------------- */
/*                                 Breakpoints                                */
/* -------------------------------------------------------------------------- */
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 2500px;


/* -------------------------------------------------------------------------- */
/*                              // media queries                              */
/* -------------------------------------------------------------------------- */
@mixin mQ ($arg...){
    @if length($arg) == 1{
        @media only screen and (min-width: nth($arg, 1)){
            @content
        }
    }
    @if length($arg) == 2{
        @media only screen and (min-width: nth($arg, 1)) and (orientation: nth($arg, 2)){
            @content
        }
    }
}